<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rolls</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#f2ede4">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>
  <body class="auth-body">
    <% if notice.present? %>
      <div class="flash flash-notice"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
      <div class="flash flash-alert"><%= alert %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
